
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header {

    width: 100%;
    background-color: #007bff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

header div {
    display: flex;
    gap: 10px;
}

header button {
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

header button a {
    text-decoration: none;
    color: #007bff;
}

header button:hover {
    background-color: #e9ecef;
    color: #0056b3;
}

/* Estilo do formulário */
.form {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

/* Título do formulário */
.title h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

/* Grupo de inputs */
.input-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-box label {
    font-size: 16px;
    color: #333333;
}

.input-box input {
    padding: 10px;
}


.btn-cadastro {
    text-align: center;
    margin-top: 20px; 
}

.btn-cadastro button {
    padding: 10px 20px;
    font-size: 16px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    background-color: #007bff; 
    color: #ffffff; 
    cursor: pointer; 
    transition: background-color 0.3s, box-shadow 0.3s; 
}

.btn-cadastro button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
