
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.table {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th {
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.table td {
    text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table-hover tbody tr:hover {
    background-color: #e9ecef;
}


.btn-UD {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.btn-UD img {
    width: 24px;
    height: 24px;
}


.btn-primary, .btn-danger {
    border-radius: 50%;
    padding: 4px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}


.modal-dialog {
    z-index: 1050;
}

.modal-content {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-secondary i {
    margin-right: 8px;
}
